mixin howManyGuests(firtsname,secondname,thirdname)
    div(class="select-menu")
    div(class="guests")
        div(class="guests__box")
            p(class="guests__text") #{firtsname}
            div(class="guests__count")
                span(class="guests__minus guests__increment" id="minusAdults") -
                span(id="numAdults" class!=attributes.class) 0
                span(class="guests__plus guests__increment" id="plusAdults") +
        div(class="guests__box")
            p(class="guests__text") #{secondname}
            div(class="guests__count")
                span(class="guests__minus guests__increment" id="minusChildren") -
                span(id="numChildren" class!=attributes.class) 0
                span(class="guests__plus guests__increment" id="plusChildren") +
        div(class="guests__box")
            p(class="guests__text") #{thirdname}
            div(class="guests__count")
                span(class="guests__minus guests__increment" id="minusInfants") -
                span(id="numInfants" class!=attributes.class) 0
                span(class="guests__plus guests__increment" id="plusInfants") +
        div(class="guests__btns")
            button(class="guests__btn btn-reset" id="guestsDelete") очистить
            button(class="guests__btn btn-reset" id="guestsSubmit") применить

mixin howManyComfort(firtsname,secondname,thirdname)
    div(class="select-menu")
    div(class="guests")
        div(class="guests__box")
            p(class="guests__text") #{firtsname}
            div(class="guests__count")
                span(class="guests__minus guests__increment" id="minusBedrooms") -
                span(id="bedrooms" class!=attributes.class) 0
                span(class="guests__plus guests__increment" id="plusBedrooms") +
        div(class="guests__box")
            p(class="guests__text") #{secondname}
            div(class="guests__count")
                span(class="guests__minus guests__increment" id="minusBeds") -
                span(id="beds" class!=attributes.class) 0
                span(class="guests__plus guests__increment" id="plusBeds") +
        div(class="guests__box")
            p(class="guests__text") #{thirdname}
            div(class="guests__count")
                span(class="guests__minus guests__increment" id="minusBathrooms") -
                span(id="bathrooms" class!=attributes.class) 0
                span(class="guests__plus guests__increment" id="plusBathrooms") +
