mixin dropdown-menu
    div(class="select")
        input(class="select__input" type="text" placeholder="дополнительные удобства")
        img(class="select__img" src=require('/src/images/dropdown-menu-arrow.svg'))
        div(class="select__dropdown")
            +checkbox("Завтрак")
            +checkbox("Письменный стол")
            +checkbox("Стул для кормления")
            +checkbox("Кроватка")
            +checkbox("Телевизор")
            +checkbox("Шампунь")
            +checkbox("Телевизор")
            +checkbox("Шампунь")

mixin dropdown-second(place)
    div(class="drop")
        input(class="drop__input" type="text" placeholder=`${place}` id="comfort")
        img(class="drop__img" src=require('/src/images/dropdown-menu-arrow.svg'))
        div(class="drop__dropdown" id="dropdown")
            +howManyComfort("спальни","кровати","ванные комнаты")(class="guests__comfots")

mixin dropdown-guests(place)
    div(class="drop" class!=attributes.class)
        input(class="drop__input" class!=attributes.class type="text" placeholder=`${place}` id="howManyGuests" value)
        img(class="drop__img" src=require('/src/images/dropdown-menu-arrow.svg'))
        div(class="drop__dropdown" id="dropdown")
            +howManyGuests("взрослые","дети","младенцы")(class="guests__num")

mixin dropdown-calendar(place,id)
    div(class="drop" class!=attributes.class)
        input(class="drop__input" type="text" placeholder=`${place}` id="drop-calendar")
        img(class="drop__img" src=require('/src/images/dropdown-menu-arrow.svg'))
        div(class="drop__dropdown" id="dropdown")
            +calendar(class="wrapper-active")

