mixin inputEmail(imagename)
    div(class="email")
        input(class="email__input input-reset" type="text" placeholder="E-mail")
        div(class="email__box")
            img.src(class="comfort__img" src=require(`../src/images/${imagename}.svg`) alt=name)


mixin howManyGuests(firtsname,secondname,thirdname)
    .select-menu
        input(class="select-menu__input input-reset" type="text" placeholder="Сколько гостей")
    div(class="guests guests-rooms")
        div(class="guests__box guests-rooms__box")
            p(class="guests__text") #{firtsname}
            div(class="guests__count")
                span(class="guests__minus" id="minusAdults") -
                span(class="guests__num" id="numAdults") 0
                span(class="guests__plus" id="plusAdults") +
        div(class="guests__box guests-rooms__box")
            p(class="guests__text") #{secondname}
            div(class="guests__count")
                span(class="guests__minus" id="minusChildren") -
                span(class="guests__num" id="minusChildren") 0
                span(class="guests__plus" id="minusChildren") +
        div(class="guests__box guests-rooms__box")
            p(class="guests__text") #{thirdname}
            div(class="guests__count")
                span(class="guests__minus" id="minusInfants") -
                span(class="guests__num" id="numInfants") 0
                span(class="guests__plus" id="plusInfants") +
        div(class="guests-btn guests-rooms__btn")
            button(class="btn-reset guests-btn__action" id="guestsDelete") очистить
            button(class="btn-reset guests-btn__action" id="guestsSubmit") применить

mixin textfield
    input(class="select-menu__input input-reset" type="text" placeholder="ДД.ММ.ГГГГ")

mixin date
    .date
        input(class="date__input input-reset" type="text" placeholder="ДД.ММ.ГГГГ")
        input(class="date__input input-reset" type="text" placeholder="19.08.2019")

mixin comfort(name,title,text)
    div(class="comfort")
        div(class="comfort__box")
            img.src(class="comfort__img" src=require(`../src/images/${name}.svg`) alt=name)
            p(class="comfort__uptitle") #{title}
            p(class="comfort__text") #{text}

mixin button-colored(text)
    button(class="button-colored btn-reset")
        span(class="button-colored__text") #{text}

mixin button-uncolored(text)
    button(class="button-uncolored btn-reset")
        span(class="button-uncolored__text") #{text}

mixin button-buy(text)
    button(class="button-buy btn-reset")
        span(class="button-buy__text") #{text}

mixin radio
    div(class="radio")
        label(class="radio__label") 
            input(class="radio__input" type="radio" name="rd" checked)
            span(class="radio__span")
            p(class="radio__text") Мужчина
        label(class="radio__label")
            input(class="radio__input" type="radio" name="rd")
            span(class="radio__span")
            p(class="radio__text") Женщина

mixin toggle
    div(class="toggle")
        label(class="toggle__label" for="toggle")
            input(class="toggle__input" type="checkbox" id="toggle")
            span(class="toggle__span")
            p(class="toggle__text") Получать спецпредложения

mixin checkbox(title,text)
    div(class="rules")
        h3(class="rules__title") #{title}
        label(class="check option")
            input(class="check__input" type="checkbox")
            span(class="check__box")
            span(class="check__text") #{text}

mixin like
    div(class="like")
        div(class="like__content")
            span(class="like__img")
            span(class="like__num") 2

mixin rating
    div(class="rating")
        div(class="rating__items flex")
            input(class="rating__item" name="rating" type="radio" value="5" id="rating__5")
            label(class="rating__label" for="rating__5")
            input(class="rating__item" name="rating" type="radio" value="4" id="rating__4")
            label(class="rating__label" for="rating__4")
            input(class="rating__item" name="rating" type="radio" value="3" id="rating__3")
            label(class="rating__label" for="rating__3")
            input(class="rating__item" name="rating" type="radio" value="2" id="rating__2")
            label(class="rating__label" for="rating__2")
            input(class="rating__item" name="rating" type="radio" value="1" id="rating__1")
            label(class="rating__label" for="rating__1")

mixin pagination(name)
    div(class="pagination flex")
        a(class="pagination__link pagination__link-active" href="") 1
        a(class="pagination__link" href="") 2
        a(class="pagination__link" href="") 3
        a(class="pagination__link" href="") ...
        a(class="pagination__link" href="") 15
        a(class="pagination__link-forward" href="")
            img.src(src=require(`../src/images/${name}.svg`))
        p(class="pagination__text") 1 – 12 из 100+ вариантов аренды

mixin bullet-list
    div(class="bullet-list container")
        div(class="bullet-list__content")
            h2(class="bullet-list__title") Правила
            p(class="bullet-list__text bullet-list__textdot") Нельзя с питомцами
            p(class="bullet-list__text bullet-list__textdot") Без вечеринок и мероприятий
            p(class="bullet-list__text bullet-list__textdot") Время прибытия — после 13:00, а выезд до 12:00
        div(class="bullet-list__content")
            h2(class="bullet-list__title") Отмена
            p(class="bullet-list__text") Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.

mixin reviews(name,username,comment)
    div(class="reviews__box")
        div(class="reviews__content")
            div(class="reviews__userbox")
                img.src(class="reviews__img" src=require(`../src/images/${name}.png`))
                p( class="reviews__name") #{username}
                p(class="reviews__days") 5 дней назад
            div(class="reviews__commentsbox")
                +like
                p(class="reviews__comment") #{comment}