mixin default-textfield(name,id)
    div(class="default-textfield")
        input(class="default-textfield__input input-reset" class!=attributes.class placeholder=`${name}` type="text" id=`${id}`)

mixin inputEmail(imagename)
    div(class="default-textfield")
        input(class="default-textfield__input input-reset" type="text" placeholder="E-mail")
        div(class="default-textfield__box")
            img.src(class="comfort__img" src=require(`../src/images/${imagename}.svg`) alt=name)


mixin howManyGuests(firtsname,secondname,thirdname)
    div(class="select-menu")
    div(class="guests")
        div(class="guests__box")
            p(class="guests__text") #{firtsname}
            div(class="guests__count")
                span(class="guests__minus guests__increment" id="minusAdults") -
                span(id="numAdults" class!=attributes.class) 0
                span(class="guests__plus guests__increment" id="plusAdults") +
        div(class="guests__box")
            p(class="guests__text") #{secondname}
            div(class="guests__count")
                span(class="guests__minus guests__increment" id="minusChildren") -
                span(id="minusChildren" class!=attributes.class) 0
                span(class="guests__plus guests__increment" id="minusChildren") +
        div(class="guests__box")
            p(class="guests__text") #{thirdname}
            div(class="guests__count")
                span(class="guests__minus guests__increment" id="minusInfants") -
                span(id="numInfants" class!=attributes.class) 0
                span(class="guests__plus guests__increment" id="plusInfants") +
        div(class="guests__btns")
            button(class="guests__btn btn-reset" id="guestsDelete") очистить
            button(class="guests__btn btn-reset" id="guestsSubmit") применить

mixin howManyComfort(firtsname,secondname,thirdname)
    div(class="select-menu")
    div(class="guests")
        div(class="guests__box")
            p(class="guests__text") #{firtsname}
            div(class="guests__count")
                span(class="guests__minus guests__increment" id="minusAdults") -
                span(id="numAdults" class!=attributes.class) 0
                span(class="guests__plus guests__increment" id="plusAdults") +
        div(class="guests__box")
            p(class="guests__text") #{secondname}
            div(class="guests__count")
                span(class="guests__minus guests__increment" id="minusChildren") -
                span(id="minusChildren" class!=attributes.class) 0
                span(class="guests__plus guests__increment" id="minusChildren") +
        div(class="guests__box")
            p(class="guests__text") #{thirdname}
            div(class="guests__count")
                span(class="guests__minus guests__increment" id="minusInfants") -
                span(id="numInfants" class!=attributes.class) 0
                span(class="guests__plus guests__increment" id="plusInfants") +

mixin comfort(name,title,text)
    div(class="comfort")
        div(class="comfort__box")
            img.src(class="comfort__img" src=require(`../src/images/${name}.svg`) alt=name)
            p(class="comfort__uptitle") #{title}
            p(class="comfort__text") #{text}

mixin radio
    div(class="radio")
        label(class="radio__label") 
            input(class="radio__input" type="radio" name="rd" checked)
            span(class="radio__span")
            p(class="radio__text") Мужчина
        label(class="radio__label")
            input(class="radio__input" type="radio" name="rd")
            span(class="radio__span")
            p(class="radio__text") Женщина

mixin toggle
    div(class="toggle")
        label(class="toggle__label" for="toggle")
            input(class="toggle__input" type="checkbox" id="toggle")
            span(class="toggle__span")
            p(class="toggle__text") Получать спецпредложения



mixin like
    div(class="like")
        div(class="like__content")
            span(class="like__img")
            span(class="like__num") 2

mixin rating
    div(class="rating")
        div(class="rating__items flex")
            input(class="rating__item" name="rating" type="radio" value="5" id="rating__5")
            label(class="rating__label" for="rating__5")
            input(class="rating__item" name="rating" type="radio" value="4" id="rating__4")
            label(class="rating__label" for="rating__4")
            input(class="rating__item" name="rating" type="radio" value="3" id="rating__3")
            label(class="rating__label" for="rating__3")
            input(class="rating__item" name="rating" type="radio" value="2" id="rating__2")
            label(class="rating__label" for="rating__2")
            input(class="rating__item" name="rating" type="radio" value="1" id="rating__1")
            label(class="rating__label" for="rating__1")

mixin bullet-list
    div(class="bullet-list container")
        div(class="bullet-list__content")
            h2(class="bullet-list__title") Правила
            p(class="bullet-list__text bullet-list__textdot") Нельзя с питомцами
            p(class="bullet-list__text bullet-list__textdot") Без вечеринок и мероприятий
            p(class="bullet-list__text bullet-list__textdot") Время прибытия — после 13:00, а выезд до 12:00
        div(class="bullet-list__content")
            h2(class="bullet-list__title") Отмена
            p(class="bullet-list__text") Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.

mixin pagination(name)
    div(class="pagination")
        div(class="pagination__links flex")
            a(class="pagination__link pagination__link-active" href="") 1
            a(class="pagination__link" href="") 2
            a(class="pagination__link" href="") 3
            a(class="pagination__link" href="") ...
            a(class="pagination__link" href="") 15
            a(class="pagination__link-forward" href="#")
                img.src(src=require(`../src/images/${name}.svg`))
        div(class="pagination__box")
            p(class="pagination__text") 1 – 12 из 100+ вариантов аренды

mixin reviews(name,username,comment)
    div(class="reviews__box")
        div(class="reviews__content")
            div(class="reviews__userbox")
                img.src(class="reviews__img" src=require(`../src/images/${name}.png`))
                p( class="reviews__name") #{username}
                p(class="reviews__days") 5 дней назад
            div(class="reviews__commentsbox")
                +like
                p(class="reviews__comment") #{comment}

mixin room-card(imagename,number,luxury,price,numofrev)
    div(class="room-card")
        img.src(class="comfort__img" src=require(`../src/images/${imagename}.jpg`))
        div(class="room-card__info flex")
            p(class="room-card__num") №
                span(class="room-card__number") #{number}
                span(class="room-card__luxury") #{luxury}
            p(class="room-card__price") #{price}
                span(class="room-card__day") в сутки
        div(class="room-card__rating flex")
            +rating
            p(class="room-card__numofrev") #{numofrev}
                span(class="room-card__reviews") Отзывов 

mixin sign-in
    form(class="sign-in")
        h1(class="sign-in__main-title") Войти
        +default-textfield("Email")(class="sign-in__input")
        +default-textfield("Пароль")(class="sign-in__inputlast")
        +button-buy("войти")(class="sign-in__button")
        div(class="sign-in__box flex")
            p(class="sign-in__text") Нет аккаунта на Toxin?
            +button-uncolored("создать")

mixin registration
    form(class="reg")
        h1(class="reg__main-title") Регистрация аккаунта
        +default-textfield("Имя")(class="reg__input")
        +default-textfield("Фамилия")(class="reg__input")
        +radio
        h3(class="reg__title") дата рождения
        +default-textfield("ДД.ММ.ГГГГ")(class="reg__input-birth")
        h3(class="reg__title") данные для входа в сервис
        +default-textfield("Email")(class="reg__input")
        +default-textfield("Пароль")(class="reg__input")
        +toggle
        +button-buy("зарегистрироваться")(class="reg__button")
        div(class="reg__box flex")
            p(class="reg__text") Уже есть аккаунт на Toxin
            +button-uncolored("войти")



mixin dropdown-menu
    div(class="select")
        input(class="select__input" type="text" placeholder="дополнительные удобства")
        img(class="select__img" src=require('/src/images/dropdown-menu-arrow.svg'))
        div(class="select__dropdown")
            +checkbox("Завтрак")
            +checkbox("Письменный стол")
            +checkbox("Стул для кормления")
            +checkbox("Кроватка")
            +checkbox("Телевизор")
            +checkbox("Шампунь")
            +checkbox("Телевизор")
            +checkbox("Шампунь")

mixin dropdown-second(place)
    div(class="drop")
        input(class="drop__input" type="text" placeholder=`${place}` id="comfort")
        img(class="drop__img" src=require('/src/images/dropdown-menu-arrow.svg'))
        div(class="drop__dropdown" id="dropdown")
            +howManyComfort("спальни","кровати","ванные комнаты")(class="guests__comfots")

mixin dropdown-guests(place)
    div(class="drop" class!=attributes.class)
        input(class="drop__input" class!=attributes.class type="text" placeholder=`${place}` id="howManyGuests" value)
        img(class="drop__img" src=require('/src/images/dropdown-menu-arrow.svg'))
        div(class="drop__dropdown" id="dropdown")
            +howManyGuests("взрослые","дети","младенцы")(class="guests__num")

mixin dropdown-calendar(place,id)
    div(class="drop" class!=attributes.class)
        input(class="drop__input" type="text" placeholder=`${place}` id="drop-calendar")
        img(class="drop__img" src=require('/src/images/dropdown-menu-arrow.svg'))
        div(class="drop__dropdown" id="dropdown")
            +calendar(class="wrapper-active")

mixin booking
    div(class="booking" class!=attributes.class)
        h1 Найдём номера под ваши пожелания
        div(class="booking__box")
            div(class="booking__start")
                h3(class="booking__text") прибытие
                +default-textfield("ДД.ММ.ГГГГ","start")(class="booking__input")
            div(class="booking__end")
                h3(class="booking__text") выезд
                +default-textfield("ДД.ММ.ГГГГ","end")(class="booking__input")
            h3(class="booking__text") гости
        +dropdown-guests("Сколько гостей")(class="drop-hero")(class="drop-hero__input")
        +button({span:"подобрать номер", size:"stretching"},"a","sign-in.pug")

mixin calendar
    div(class="wrapper" class!=attributes.class)
        header
            p.current-date
        div(class="icons")
            //- span(id="prev" class="left" src=require('/src/images/Logo.svg') alt='logo')
            //- span(id="prev" class="left" src=require('/src/images/Logo.svg') alt='logo')
        .calendar
            ul.weeks
                li Пн
                li Вт
                li Ср
                li Чт
                li Пт
                li Сб
                li Вс
            ul.days
            .buttons
                button(class="btn__delete btn-reset") очистить
                button(class="btn__submit btn-reset") применить

mixin room-booking
    div(class="booking" class!=attributes.class)
        div(class="booking__titles flex")
            div(class="booking__nomer flex")
                span(class="booking__span flex")
                    p(class="booking__no") № 
                    p(class="booking__number") 888
                    p(class="booking__luxe") люкс
            div(class="booking__nomer flex")
                p(class="booking__how") 9 990₽ 
                p(class="booking__day") в сутки
        div(class="booking__box")
            div(class="booking__start")
                h3(class="booking__text") прибытие
                +default-textfield("ДД.ММ.ГГГГ","start")(class="booking__input")
            div(class="booking__end")
                h3(class="booking__text") выезд
                +default-textfield("ДД.ММ.ГГГГ","end")(class="booking__input")
            +calendar
            h3(class="booking__text") гости
        +dropdown-guests("Сколько гостей")(class="drop-hero")(class="drop-hero__input")
        div(class="booking__prices")
            div(class="booking__full")
                div(class="booking__price flex")
                    p(class="booking__count") 9 990₽ х 4 суток
                    P(class="booking__count") 39 960₽
                div(class="booking__price flex")
                    p(class="booking__count") Сбор за услуги: скидка 2 179₽
                    P(class="booking__count") 0₽
                div(class="booking__price flex")
                    p(class="booking__count") Сбор за дополнительные услуги
                    P(class="booking__count") 300₽
            div(class="booking__total flex")
                p(class="booking__totaltext") Итого
                P(class="booking__totaltext") 38 081₽
        +button-buy("подобрать номер")(class="button-hero")