mixin default-textfield(name,id)
    div(class="default-textfield")
        input(class="default-textfield__input input-reset" class!=attributes.class placeholder=`${name}` type="text" id=`${id}`)

mixin inputEmail(imagename)
    div(class="default-textfield")
        input(class="default-textfield__input input-reset" type="text" placeholder="E-mail")
        div(class="default-textfield__box")
            img.src(class="comfort__img" src=require(`../src/images/${imagename}.svg`) alt=name)


mixin howManyGuests(firtsname,secondname,thirdname)
    div(class="select-menu")
    div(class="guests")
        div(class="guests__box")
            p(class="guests__text") #{firtsname}
            div(class="guests__count")
                span(class="guests__minus guests__increment" id="minusAdults") -
                span(id="numAdults" class!=attributes.class) 0
                span(class="guests__plus guests__increment" id="plusAdults") +
        div(class="guests__box")
            p(class="guests__text") #{secondname}
            div(class="guests__count")
                span(class="guests__minus guests__increment" id="minusChildren") -
                span(id="minusChildren" class!=attributes.class) 0
                span(class="guests__plus guests__increment" id="minusChildren") +
        div(class="guests__box")
            p(class="guests__text") #{thirdname}
            div(class="guests__count")
                span(class="guests__minus guests__increment" id="minusInfants") -
                span(id="numInfants" class!=attributes.class) 0
                span(class="guests__plus guests__increment" id="plusInfants") +
        div(class="guests__btns")
            button(class="guests__btn btn-reset" id="guestsDelete") очистить
            button(class="guests__btn btn-reset" id="guestsSubmit") применить

mixin howManyComfort(firtsname,secondname,thirdname)
    div(class="select-menu")
    div(class="guests")
        div(class="guests__box")
            p(class="guests__text") #{firtsname}
            div(class="guests__count")
                span(class="guests__minus guests__increment" id="minusAdults") -
                span(id="numAdults" class!=attributes.class) 0
                span(class="guests__plus guests__increment" id="plusAdults") +
        div(class="guests__box")
            p(class="guests__text") #{secondname}
            div(class="guests__count")
                span(class="guests__minus guests__increment" id="minusChildren") -
                span(id="minusChildren" class!=attributes.class) 0
                span(class="guests__plus guests__increment" id="minusChildren") +
        div(class="guests__box")
            p(class="guests__text") #{thirdname}
            div(class="guests__count")
                span(class="guests__minus guests__increment" id="minusInfants") -
                span(id="numInfants" class!=attributes.class) 0
                span(class="guests__plus guests__increment" id="plusInfants") +





mixin dropdown-menu
    div(class="select")
        input(class="select__input" type="text" placeholder="дополнительные удобства")
        img(class="select__img" src=require('/src/images/dropdown-menu-arrow.svg'))
        div(class="select__dropdown")
            +checkbox("Завтрак")
            +checkbox("Письменный стол")
            +checkbox("Стул для кормления")
            +checkbox("Кроватка")
            +checkbox("Телевизор")
            +checkbox("Шампунь")
            +checkbox("Телевизор")
            +checkbox("Шампунь")

mixin dropdown-second(place)
    div(class="drop")
        input(class="drop__input" type="text" placeholder=`${place}` id="comfort")
        img(class="drop__img" src=require('/src/images/dropdown-menu-arrow.svg'))
        div(class="drop__dropdown" id="dropdown")
            +howManyComfort("спальни","кровати","ванные комнаты")(class="guests__comfots")

mixin dropdown-guests(place)
    div(class="drop" class!=attributes.class)
        input(class="drop__input" class!=attributes.class type="text" placeholder=`${place}` id="howManyGuests" value)
        img(class="drop__img" src=require('/src/images/dropdown-menu-arrow.svg'))
        div(class="drop__dropdown" id="dropdown")
            +howManyGuests("взрослые","дети","младенцы")(class="guests__num")

mixin dropdown-calendar(place,id)
    div(class="drop" class!=attributes.class)
        input(class="drop__input" type="text" placeholder=`${place}` id="drop-calendar")
        img(class="drop__img" src=require('/src/images/dropdown-menu-arrow.svg'))
        div(class="drop__dropdown" id="dropdown")
            +calendar(class="wrapper-active")



mixin calendar
    div(class="wrapper" class!=attributes.class)
        header
            p.current-date
        div(class="icons")
            //- span(id="prev" class="left" src=require('/src/images/Logo.svg') alt='logo')
            //- span(id="prev" class="left" src=require('/src/images/Logo.svg') alt='logo')
        .calendar
            ul.weeks
                li Пн
                li Вт
                li Ср
                li Чт
                li Пт
                li Сб
                li Вс
            ul.days
            .buttons
                button(class="btn__delete btn-reset") очистить
                button(class="btn__submit btn-reset") применить

mixin booking
    div(class="booking")
        h1(class!=attributes.class) Найдём номера под ваши пожелания
        div(class="booking__box")
            div(class="booking__start")
                h3(class!=attributes.class) прибытие
                +default-textfield("ДД.ММ.ГГГГ","start")(class="booking__input")
                +calendar
            div(class="booking__end")
                h3(class!=attributes.class) выезд
                +default-textfield("ДД.ММ.ГГГГ","end")(class="booking__input")
        div(class="booking__guests")
            h3(class!=attributes.class) гости
            +dropdown-guests("Сколько гостей")(class="drop-hero")(class="drop-hero__input")
        +button({span:"подобрать номер", size:"stretching"},"a","sign-in.pug")(class="booking__button")

mixin room-booking
    div(class="booking" class!=attributes.class)
        div(class="booking__header flex")
            div(class="booking__number flex")
                span(class="booking__symbol") № 
                span(class="booking__value") 888
                span(class="booking__luxe") люкс
            div(class="booking__prices flex")
                p(class="booking__value-room") 9 990₽ 
                p(class="booking__text-room") в сутки
        div(class="booking__box")
            div(class="booking__start")
                h3(class="booking__title") прибытие
                +default-textfield("ДД.ММ.ГГГГ","start")(class="booking__input")
                +calendar
            div(class="booking__end")
                h3(class="booking__title") выезд
                +default-textfield("ДД.ММ.ГГГГ","end")(class="booking__input")
        div(class="booking__guests")
            h3(class="booking__title") гости
            +dropdown-guests("Сколько гостей")(class="drop-hero")(class="drop-hero__input")
        div(class="booking__prices")
            div(class="booking__full")
                div(class="booking__price flex")
                    span(class="booking__count") 9 990₽ х 4 суток
                    span(class="booking__count") 39 960₽
                div(class="booking__price flex")
                    span(class="booking__count") Сбор за услуги: скидка 2 179₽
                    img(class="booking__info" src=require('/src/images/info.svg') alt='info')
                    span(class="booking__count") 0₽
                div(class="booking__price flex")
                    span(class="booking__service") Сбор за дополнительные услуги
                    img(class="booking__info" src=require('/src/images/info.svg') alt='info')
                    span(class="booking__count") 300₽
            div(class="booking__total flex")
                p(class="booking__totaltext") Итого
                P(class="booking__totaltext") 38 081₽
        +button({span:"подобрать номер", size:"stretching"},"a","sign-in.pug")