mixin room-card(imagename,value,luxury,price,numofrev)
    div(class="room-card")
        img.src(class="room-card__img" src=require(`../src/images/${imagename}.jpg`))
        div(class="room-card__box")
            div(class="room-card__info flex")
                div(class="room-number")
                    span(class="room-number__symbol") №
                    span(class="room-number__value") #{value}
                    span(class="room-number__luxury") #{luxury}
                div(class="room-price")
                    span(class="room-price__value") #{price}
                    span(class="room-price__text") в сутки
            div(class="room-card__rating flex")
                +rating
                div(class="room-review")
                    span(class="room-review__value") #{numofrev}
                    span(class="room-review__text") Отзывов 